@model Pizzas


<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail card-image">
        <img src="@Model.ImageUrl" alt="Picture of @Model.Name">
        <div class="caption card-text">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a asp-controller="Pizzas" asp-action="DisplayDetails" asp-route-id="@Model.Id">@Model.Name</a>
            </h3>
            <div class="card-heading">
                <h5><b>Category: @Model.Category.Name</b></h5>
                <div class="card-text">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="addToCart card-button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-pizzaId="@Model.Id">Add Pizza</a>
        </div>
    </div>
</div>
    <style>
        body {
        font-family: Varela Round;
        background: #f1f1f1;
    }


    a {
        text-decoration: none;
    }

    /* Card Styles */

    .card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }
    .card-button a{
        width: 100%;
        padding-bottom:25px;
        font-size:20px;
    }
    .card-button {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin:auto;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;

    }
    .card-heading{
        height: 125px;
    }

    </style>